body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: azure;
}

.app {
  display: inline-block;
  padding: 20px;
  color: #468847;
  margin-top: 50px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #468847;
  list-style: none;
}


